/* botoes gerais */

button {
  cursor: pointer;

  border: none;

  transition:
    background 0.3s,
    color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

/* botoes outline */

.btn-outline {
  background: transparent;

  color: var(--primary-color);

  border: 2px solid var(--primary-color);

  padding: 10px 18px;

  border-radius: 12px;

  font-weight: 700;
}

.btn-outline:hover {
  background: var(--primary-color);

  color: white;

  transform: translateY(-2px);

  box-shadow: var(--shadow);
}

/* botoes de acao */

.cadastro-form button,
.acoes button,
.search-home button {
  background: var(--action-color);

  color: white;

  padding: 12px 22px;

  border-radius: 12px;

  font-weight: 700;
}

.cadastro-form button:hover,
.acoes button:hover,
.search-home button:hover {
  background: var(--action-hover);

  transform: translateY(-2px);

  box-shadow: var(--shadow);
}

/* botao do tema */

#theme-toggle {
  width: 45px;

  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  border: 2px solid var(--border-color);

  background: var(--card-bg);

  color: var(--text-color);

  font-size: 20px;

  cursor: pointer;

  transition:
    background 0.3s,
    color 0.3s,
    transform 0.3s,
    border-color 0.3s;
}

#theme-toggle:hover {
  background: var(--primary-color);

  border-color: var(--primary-color);

  color: white;

  transform: rotate(180deg) scale(1.08);
}
